<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
  <h4 class="modal-title" id="myModalLabel"><%=@project.name%></h4>  
</div>

<div class="modal-body">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
      <tr>
        <td><%=user.name%></td>
        <td><a href="#"><%=user.email%></a></td>
      </tr>
      <% end %>         
    </tbody>
  </table>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Material</th>
        <th>Quantity</th>
        <th>Unit Types</th>
      </tr>
    </thead>
    <tbody>
      <% @project_materials.each do |pm| %>
      <% material = Material.find(pm.material_id) %>
      <tr>
        <td><%=material.name%></td>
        <td><%=pm.quantity%></td>
        <td><%=material.unit_type%></td>
      </tr>
      <% end %>         
    </tbody>
  </table>
</div>

<div class="modal-footer">
  <%= render partial: 'options', locals: { project: @project } %>
</div>
